@import './variable.scss';

/******************* General styling ****************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Inter', sans-serif;
    padding: 0px 16px;
    @include flexCenter(column);
    // justify-content: space-evenly;
}