@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


/****** Colors **********/

$btnColor: #EAECF0;
$backgroundColor: #FFFFFF;
$iconColor: #98A2B3;
$textColor:  #101828;
$red: #E7332B;
$horizontalColor: #667085;


/********** media breakpoints ****************/

$md: 768px;


/****** mixins *******/

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}