@import '../../styles/variable.scss';

.contact {
    @include flexCenter(column);
    width: 100%;
    height: 676px;
    margin-top: 32px;
    margin-bottom: 24px;

    &_form {
        form {
           @include flexCenter(column);

           input {
            padding: 10px 14px;
            border: 1px solid $borderColor;
            @include placeholder;

           }
        }
    }
}