@import '../../styles/variable.scss';

.contact {
    @include flexCenter(column);
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 676px;
    margin-top: 32px;
    margin-bottom: 188px;

    &_heading {
        width: inherit;
        margin-top: 64px;

        h1 {
            color: $textColor;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: -0.02em;
            margin-bottom: 16px;
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: $greyColor;
        }
    }

    &_form {
        margin-top:50px;
        width: inherit;

        form {
            width: inherit;
            height: 512px;
            @include flexCenter(column);
            justify-content: space-around;

            // p {
            //     color: red;
            //     margin-top: 5px;
            // }

            div {
                margin-top: 24px;
                width: inherit;

                label {
                    color: $labelColor;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                }

                input {
                    margin-top: 6px;
                    background-color: $backgroundColor;
                    width: inherit;
                    padding: 10px 14px;
                    @include border($borderColor);
                    @include placeholder;

                    &:focus {
                        outline:#B2DDFF solid 2px;
                    }
                }

                textarea {
                    height: 132px;
                    margin-top: 6px;
                    width: inherit;
                    padding: 12px 14px;
                    @include border($borderColor);
                    @include placeholder;

                    &:focus {
                        outline:#B2DDFF solid 2px;
                    }
                }
            }

            .name {
                @include flexCenter(column);
                justify-content: space-between;
                align-items: flex-start;
            }

            .checkbox {
                @include flexCenter(row);
                justify-content: left;
                align-items: flex-start;

                input[type='checkbox'] {
                    width: 20px;
                    opacity: 0;
                    position: absolute;
                }

                label {
                    cursor: pointer;
                    color: $greyColor;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    display: flex;
                }

                label::before {
                    content: '';
                    @include border($borderColor);
                    margin-right: 10px;
                    width: 20px;
                    height: 13px;
                    padding: 5px;
                    border-radius: 6px;
                }
                
                input[type="checkbox"]:checked + label::before {
                    visibility: visible;
                    background-image: url(../../styles/assets/tick.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    color: $blue;
                    box-shadow: 0px 0px 5px 1px #B2DDFF;
                    @include flexCenter(row);
                }
            }

            button {
                margin-top: 32px;
                width: 100%;
                height: 48px;
                font-family: 'Inter';
                font-size: 16px;
                line-height: 24px;
                color: $backgroundColor;
                background-color: $blue;
                padding: 12px 20px;
                @include border($blue);

                &:focus {
                    outline:#B2DDFF solid 4px;
                }

                &:hover {
                    background-color: #B2DDFF;
                    border: 2px solid #B2DDFF;
                    transition: all 3s ease-in-out;
                }
            }
        }
    }
}

/******************* media queries *************************/

@media(min-width: $md) {
    .contact {
        width: 720px;
        height: 616px;
        margin: 150px auto;

        &_heading {
            width: inherit;
            margin-top: 0px;
        }

        &_form {
            margin-top:20px;

            form {
                .name {
                    @include flexCenter(row);
                    width: 100%;
                    
                    div {
                        @include flexCenter(column);
                        align-items: flex-start;
                        width: 100%;
                    }

                    &_last {
                        margin-left: 20px;
                    }
                }

                .checkbox {
                    @include flexCenter(row);
                    justify-content: left;
                    align-items: flex-start;
    
                    label::before {
                        width: 12px;
                    }
                }
            }
        }
    }
}