@import '../../styles/variable.scss';

.icons {
    width: inherit;
    height: 72px;
    @include flexCenter(row);
    margin-bottom: 32px;

    div {
        @include flexCenter(row);
        justify-content: space-between;

        a {
            img {
                margin: 0 15px;
            }
        }
    }
}